
@using Fitnezz.Web.Common
@model Fitnezz.Web.Web.ViewModels.MealPlans.MealPlanDetailsViewModel
@{
    int count = 0;
    this.ViewData["Title"] = $"Meal Plan - {Model.Name}";
   
}

<style>
</style>
<h1 style="text-align: center">@Model.Name</h1>

<div style="margin-left:20%">
    @foreach (var meal in Model.Meals)
    {
        <div class="panel-group" id="accordion_@count" style="width: 75%">
            <div class="panel panel-default" id="panel_@count">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne_@count" href="#collapseOne_@count">
                            @meal.Name - Calories-@meal.Calories: Proteins-@meal.Proteins, Carbs-@meal.Carbs, Fats-@meal.Fats
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_@count" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @foreach (var food in meal.Foods)
                        {
                            <p style="font-size: 20px">@food.Name - @food.Grams grams, Calories: @food.Calories, Proteins: @food.Proteins, Carbs: @food.Carbs, Fats: @food.Fats </p>
                            if (this.User.IsInRole(GlobalConstants.TrainerRoleName))
                            {
                                <a href="/MealPlans/DeleteFood/?mealPlanId=@Model.Id&foodId=@food.Id" style="margin-left: 80%;margin-top: -3%" class="btn btn-sm">Delete</a>
                            }                                                                                                                                                                                     
                           
                            <hr />
                        }
                        @if (this.User.IsInRole(GlobalConstants.TrainerRoleName))
                        {

                        @*<input style="display: none" name ="mealId" value="@i"/>*@
                        <a type="submit" href="/MealPlans/CreateFood?mealId=@meal.Id" class="btn btn-warning "> Add food</a>
                        }

                    </div>
                </div>
            </div>
        </div>

        count++;

    }



</div>