@model Fitnezz.Web.Web.ViewModels.Trainers.AllTrainersViewModel
    <link href="~/css/trainers.css" rel="stylesheet" />
    <div class="row">
        <div class="container mt-5 col-md-6">
            <div class="card p-3">
                <div style="display: flex">
                    <div class="image"> <img src="@Model.Img" class="rounded" height="200" width="155"> </div>
                    <div class="ml-3 w-100" style="margin-left: 50px; width: 400px">
                        <span style="font-size: 25px">@Model.Name</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Clients: </span> <span style="font-size: 25px" class="number1">@Model.Clients</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Specialty: </span><span style="font-size: 20px" class="number2">@Model.Specialty</span> </div>
                            <div class="d-flex flex-column"> <span class="rating">Age: </span> <span class="number3">@Model.Age</span> </div>
                        </div>
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> <a href="/Trainers/Delete/@Model.Id" class="btn btn-sm btn-primary w-100 ml-2">Delete</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>