@model IEnumerable<Fitnezz.Web.Web.ViewModels.Trainers.AllTrainersViewModel>


<style>
    body {
        
        border-radius: 10px
    }

    .card {
        width: 700px;
        border: none;
        border-radius: 10px;
        background-color: #fff
    }

    .stats {
        background: #f2f5f8 !important;
        color: #000 !important
    }

    .articles {
        font-size: 30px;
        color: #a1aab9
    }

    .number1 {
        font-weight: 500
    }

    .followers {
        font-size: 20px;
        color: #a1aab9
    }

    .number2 {
        font-weight: 500
    }

    .rating {
        font-size: 15px;
        color: #a1aab9
    }

    .number3 {
        font-weight: 500
    }
</style>

<div style="overflow: hidden; margin-bottom: 150px;">
<h1 style="font-size: 50px; margin-left: 35%; " class="col-md-6">Our <span class="color">Professionals</span></h1>

<div class="row" style="margin-left: 10%; overflow: hidden; margin-top:150px">
  @foreach(var trainer in Model)
  {
      <div  class="container mt-5 col-md-6" >
            <div class="card p-3">
                <div style="display: flex">
                    <div class="image"> <img src="@trainer.Img" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100" style="margin-left: 50px; width: 400px">
                        <span style="font-size: 25px">@trainer.Name</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Clients: </span> - <span style="font-size: 25px" class="number1">@trainer.Clients</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Specialty: </span>: <span style="font-size: 20px" class="number2">@trainer.Specialty</span> </div>
                            <div class="d-flex flex-column"> <span class="rating">Age: </span>: <span class="number3">@trainer.Age</span> </div>
                        </div>
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> <a href="/Trainers/Hire/@trainer.Id" class="btn btn-sm btn-primary w-100 ml-2">Hire</a> </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
</div>
