@model IEnumerable<Fitnezz.Web.Web.ViewModels.Trainers.AllClientsViewModel>

<h1 style="font-size: 50px; position: absolute; left: 40%" class="col-md-6">Your <span class="color">Clients</span></h1>

<div style="overflow: hidden; margin-bottom: 100px">
    <div class="row" style="margin-left: 15%; margin-top: 100px; ">
        @foreach (var client in Model)
        {
            <div class="container mt-5 col-md-6">
                <ul class="list-group" style="width: 500px">
                    <li class="list-group-item " style="font-size: 30px;color: black">@client.UserName</li>
                    <li class="list-group-item">Age - @client.Age</li>
                    <li class="list-group-item">Weight - @client.Weight kg.</li>
                    <li class="list-group-item">Height - @client.Height cm.</li>
                    <li class="list-group-item">Goal - @client.Goal</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a asp-controller="Users" asp-action="Workouts" asp-route-id="@client.Id" >Workouts</a>
                        <span style="color: #e62026;font-size: 20px" class="badge badge-primary badge-pill">@client.WorkoutsCount</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a asp-controller="Users" asp-action="MealPlans" asp-route-id="@client.Id">Meal plans</a>
                        <span style="color: #e62026;font-size: 20px" class="badge badge-primary badge-pill">@client.MealPlansCount</span>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>