@using Fitnezz.Web.Web.ViewModels.Workouts
@using Microsoft.AspNetCore.Identity
@using Fitnezz.Web.Data.Models
@using Fitnezz.Web.Common
@using System.Net
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PaginatedList<AllWourkoutsViewModel>
@inject SignInManager<ApplicationUser> SignInManager
<style>
    #workoutBtn {
        border-style: none;
        padding: 15px 30px;
        background: #ec4141;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

    .divBtn {
        position: absolute;
        top: 80px;
        left: 70%;
    }

    #workoutBtn:hover {
        background: transparent;
        border: 4px #ec4141 solid;
    }
</style>
<div style="overflow: hidden">
    <div style="margin-bottom: 200px;" class="row">
        <div class="col-md-10">
            <div class="about-logo" style="margin: auto ;width: 50%">
                <h1 class="col-md-3">Our Best <span class="color">Workouts</span></h1>

                
                @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    
                <div class="divBtn">
                    <button id="workoutBtn"> Create a Workout</button>
                </div>


                <div style="display: none; position: absolute; left: 95%; top: 19%" id="createWorkout">
                    <form method="post">
                        <input name="workoutName" id="workoutName" type="text" style="width: 300px" placeholder="Workout Name">
                        <select name="isPublic" style="display: block; margin-bottom: 10px">
                            <option>Private</option>
                            <option>Public</option>
                        </select>
                        <button  type="submit" asp-area="" asp-controller="Workouts" asp-action="Create" class="btn btn-warning "> Create</button>
                        <button style="margin-left:30px" id="canceltBtn" class="btn btn-warning "> Cancel</button>
                    </form>

                </div>
                }
                
                @*@using (Html.BeginForm("Create", "Workouts", FormMethod.Post, new { id = "myform" }))
                {
                    @Html.TextBox("name", null, new { style = "width:500px;" })
                    <input type="submit" value="Add" />
                }*@

                @if (TempData["sErrMsg"] != null)
                {
                    Html.RenderPartial("_ErrorPopup", TempData["sErrMsg"]);
                }


                <div class="container-fluid ml-5">



                    <table style="width: 1000px" class="table">
                        <thead>
                            <tr class="row">
                                <th scope="col" style="font-size: 30px" class="col-lg-6 suls-text-color">Name</th>
                                <th scope="col" style="font-size: 30px" class="col-lg-6 suls-text-color">Exercises</th>
                                <th scope="col" style="font-size: 30px" class="col-lg-6 suls-text-color">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var workout in Model)
                            {

                                <tr class="row">
                                    <td class="col-lg-6 suls-text-color">@workout.Name</td>
                                    <td class="col-lg-6 suls-text-color">@workout.ExercisesCount</td>
                                    <td class="col-lg-6">
                                        <div class="button-holder">
                                            <a href="/Workouts/Details?id=@workout.Id" class="btn btn-warning">Details</a>
                                        </div>
                                    </td>
                                    @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {

                                    <td style="position: absolute; left: 5%">
                                        <form method="post">
                                            <input style="display: none" name="workoutId" value="@workout.Id" />
                                            <input type="text" name="username" placeholder="Username" style="width: 100px" />
                                            <button asp-area="" asp-controller="Workouts" asp-action="AddWorkoutToUser" type="submit" class="btn btn-sm"> Add to User</button>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="/Workouts/Delete?id=@workout.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                @{
                    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.NextPage ? "disabled" : "";
                }
                
               
         
                    
                    <a asp-action="All" asp-route-pageNumber="@(Model.PageIndex - 1) "  class="btn @prevDisabled">Previous</a>
                    @for (int i = Model.PageIndex - 3; i < Model.PageIndex; i++)
                    {
                        if (i>0)
                        {
                            <a class="btn " style="width: 40px" asp-action="All" asp-route-pageNumber="@i">@i</a>
                        }
                    }
                    <span style="width: 40px; background-color: black" class="btn">@Model.PageIndex</span>
                
                    @for (int i = Model.PageIndex + 1; i <= Model.PageIndex + 3; i++)
                    {
                        if (i<= Model.TotalPages)
                        {
                           <a class="btn " style="width: 40px" asp-action="All" asp-route-pageNumber="@i">@i </a>
                        }
                    }
                    <a asp-action="All" asp-route-pageNumber="@(Model.PageIndex + 1) " class="btn @nextDisabled">Next</a>
               

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="/js/allWorkouts.js"></script>
}