
@using Fitnezz.Web.Common
@model Fitnezz.Web.Web.ViewModels.Workouts.DetailsWorkoutsVIewModel

@{
    this.ViewData["Title"] = $"Workout - {Model.Name}";
}

<link href="~/css/workoutDetails.css" rel="stylesheet" />
<link href="~/css/workoutDetailsMobile.css" rel="stylesheet" />

<div style="margin-bottom: 350px">
    <h1 style="text-align: center; ">@Model.Name</h1>

    <table id="exercise" class="table table-striped">
        <thead>
            <tr>
                <th class="wrkInfo" style="color:#e62026">Name</th>
                <th class="wrkInfo" style="color:#e62026">Sets</th>
                <th class="wrkInfo" style="color:#e62026">Reps</th>
                <th class="wrkInfo" style="color:#e62026">Distance</th>
                <th class="wrkInfo" style="color:#e62026">Time</th>
                <th class="wrkInfo" style="color:#e62026">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in @Model.Exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.Sets</td>
                    @if (@exercise.Reps == null)
                    {
                        <td>None</td>
                    }
                    else
                    {

                        <td>@exercise.Reps</td>
                    }
                    @if (@exercise.Distance == null)
                    {
                        <td>None</td>
                    }
                    else
                    {

                        <td>@exercise.Distance</td>
                    }
                    @if (@exercise.Time == null)
                    {
                        <td>None</td>
                    }
                    else
                    {
                        <td>@exercise.Time</td>
                    }
                    <td><a href="@exercise.Link">Link</a></td>

                </tr>
            }
        </tbody>
    </table>

    @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="divBtn">
            <a href="/Workouts/AddExerciseToWorkout?workoutId=@Model.Id" type="button" id="workoutBtn"> Add Exercise</a>
        </div>
    }

</div>