
@using Fitnezz.Web.Common

@model Fitnezz.Web.Web.ViewModels.MealPlans.ComplexViewModelForMealPlans

@{
    this.ViewData["Title"] = "All Meal Plans, page " + Model.ViewModel.PageIndex;
}
<h1 style="position: absolute; left: 40%" class="col-md-3">Our Meal <span class="color">Plans</span></h1>

<div style="overflow: hidden;">
    <div style="margin-top: 100px;" class="row">

        <form method="post" asp-controller="Search" asp-action="MealPlansSearch" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
            <input style="margin-left: 43%;" name="searchWord" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>

        @foreach (var mealPlan in Model.ViewModel)
        {
            <div class="col-md-3 md-margin-bottom-40">
                <div class="card small">
                    <div class="card-image" style="height: 330px;">
                        <img class="img-responsive" src="@mealPlan.Img" style="height: 300px; width: 500px" alt="">
                        <a href="/MealPlans/Details?id=@mealPlan.Id" class="card-title">@mealPlan.Name</a>
                    </div>
                    <div class="card-content">
                        <p>
                            Calories: @mealPlan.Calories
                        </p>
                        <p>
                            Proteins: @mealPlan.Proteins, Carbs: @mealPlan.Carbs, Fats: @mealPlan.Fats
                        </p>
                        @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            if (mealPlan.IsDeleted == true)
                            {
                                <a style="width: 410px"  class="btn" asp-route-id="@mealPlan.Id" asp-controller="MealPlans" asp-action="Restore">
                                    Restore
                                </a>
                            }
                            else
                            {
                                <button style="width: 410px" type="submit" class="btn delete" data-id="@mealPlan.Id" data-controller="MealPlans" data-action="Delete"
                                        data-body-message="Delete this meal plan?">
                                    Delete
                                </button>
                            }
                          

                        }
                    </div>
                </div>
                @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {

                    <form method="post">
                        <input style="display: none" name="mealPlanId" value="@mealPlan.Id" />
                        <input type="text" name="username" placeholder="Username" style="width: 100px" />
                        <button asp-area="" asp-controller="MealPlans" asp-action="AddMealPlanToUser" type="submit" class="btn btn-sm"> Add to User</button>
                    </form>
                }
            </div>
        }

        @if (TempData["sErrMsg"] != null)
        {
            Html.RenderPartial("_ErrorPopup", TempData["sErrMsg"]);
        }

        @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {

            <div style="margin-left: 35%;">
                <form asp-controller="MealPlans" asp-action="Create" method="post">
                    <label asp-for="InputModel.MealPlanName">Name</label>
                    <input asp-for="InputModel.MealPlanName" name="mealPlanName" style="width: 300px" id="mealPlanNameInput" placeholder="Meal plan name">
                    <span asp-validation-for="InputModel.MealPlanName" class="text-danger"></span>

                    <label asp-for="InputModel.Img">Image</label>
                    <input asp-for="InputModel.Img" name="img" style="width: 300px" id="imgInput" placeholder="Meal plan image">
                    <span asp-validation-for="InputModel.Img" class="text-danger"></span>
                    <button type="submit" class="btn btn-warning "> Create</button>

                    <select name="IsPublic" style="display: block; width: 300px; margin-bottom: 10px">
                        <option>Public</option>
                        <option>Private</option>
                    </select>

                </form>

            </div>
        }


        @{
            var prevDisabled = !Model.ViewModel.PreviousPage ? "disabled" : "";
            var nextDisabled = !Model.ViewModel.NextPage ? "disabled" : "";
        }

        <div style="margin-top: 5%; margin-left: 37%">
            <a asp-action="All" asp-route-pageNumber="@(Model.ViewModel.PageIndex - 1) " class="btn @prevDisabled">Previous</a>
            @for (int i = Model.ViewModel.PageIndex - 3; i < Model.ViewModel.PageIndex; i++)
            {
                if (i > 0)
                {
                    <a class="btn " style="width: 40px" asp-action="All" asp-route-pageNumber="@i">@i</a>
                }
            }
            <span style="width: 40px; background-color: black" class="btn">@Model.ViewModel.PageIndex</span>

            @for (int i = Model.ViewModel.PageIndex + 1; i <= Model.ViewModel.PageIndex + 3; i++)
            {
                if (i <= Model.ViewModel.TotalPages)
                {
                    <a class="btn " style="width: 40px" asp-action="All" asp-route-pageNumber="@i">@i </a>
                }
            }
            <a asp-action="All" asp-route-pageNumber="@(Model.ViewModel.PageIndex + 1) " class="btn @nextDisabled">Next</a>
        </div>
    </div>
</div>
