@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int count = 0;
}
@model Fitnezz.Web.Web.ViewModels.MealPlans.MealPlanDetailsViewModel 

    <style>

    </style>
<h1 style="text-align: center">@Model.Name</h1>

<div style="margin-left:20%">
   @foreach(var meal in Model.Meals)
   {
        <div class="panel-group" id="accordion_@count" style="width: 75%">
            <div class="panel panel-default" id="panel_@count">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne_@count" href="#collapseOne_@count">
                            @meal.Name - Calories-@meal.Calories: Proteins-@meal.Proteins, Carbs-@meal.Carbs, Fats-@meal.Fats
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_@count" class="panel-collapse collapse in">
                    <div class="panel-body">
                       @foreach(var food in meal.Foods)
                       {
                           <p >@food.Name - Calories: @food.Calories - @food.Grams grams: Proteins: @food.Proteins, Carbs: @food.Carbs, Fats: @food.Fats <span><a style="margin-left:40% " class="btn btn-sm">Delete</a></span></p>
                            <hr />
                        }
                        
                        @*<input style="display: none" name ="mealId" value="@i"/>*@
                        <a type="submit" href="/MealPlans/CreateFood?mealId=@meal.Id" class="btn btn-warning "> Add food</a>
                        
                    </div>
                </div>
            </div>
        </div>

        count++;

    }
    
<div style="margin-left: 20%;" id="createWorkout">
    <form method="post">
        <input name ="mealPlanId" value="@Model.Id"  style="display: none" />
        <input name="mealName" type="text" style="width: 300px" placeholder="Meal name">
        <button type="submit" asp-area="" asp-controller="MealPlans" asp-action="CreateMeal" class="btn btn-warning "> Add meal</button>
    </form>
</div>

</div>