@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int count = 0;
}
@using Fitnezz.Web.Common
@model Fitnezz.Web.Web.ViewModels.MealPlans.MealPlanDetailsViewModel

<style>
</style>
<h1 style="text-align: center">@Model.Name</h1>

<div style="margin-left: 20%;margin-bottom: 19%">
    @foreach (var meal in Model.Meals)
    {
        <div class="panel-group" id="accordion_@count" style="width: 75%">
            <div class="panel panel-default" id="panel_@count">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne_@count" href="#collapseOne_@count">
                            @meal.Name - Calories-@meal.Calories: Proteins-@meal.Proteins, Carbs-@meal.Carbs, Fats-@meal.Fats
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_@count" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @foreach (var food in meal.Foods)
                        {
                            <p style="font-size: 20px">@food.Name - @food.Grams grams, Calories: @food.Calories, Proteins: @food.Proteins, Carbs: @food.Carbs, Fats: @food.Fats </p>
                            @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a href="/MealPlans/DeleteFood/?mealPlanId=@Model.Id&foodId=@food.Id" style="margin-left: 80%;margin-top: -3%" class="btn btn-sm">Delete</a>
                            }
                            <hr />
                        }

                        @*<input style="display: none" name ="mealId" value="@i"/>*@
                        @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {

                            <div style="display: flex">
                                <a type="submit" href="/MealPlans/CreateFood?mealId=@meal.Id" class="btn btn-warning "> Add food</a>
                                <a style="margin-left: 10px; width: 150px" type="submit" href="/MealPlans/DeleteMeal?mealId=@meal.Id&mealPlanId=@Model.Id" class="btn btn-warning "> Delete meal</a>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>

        count++;


    }


    @if (this.User.IsInRole(GlobalConstants.TrainerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div style="margin-left: 20%;" id="createWorkout">
            <form method="post">
                <input name="mealPlanId" value="@Model.Id" style="display: none" />
                <input name="mealName" id="mealName" type="text" style="width: 300px" placeholder="Meal name">
                <button type="submit" onclick="Validate()" asp-area="" asp-controller="MealPlans" asp-action="CreateMeal" class="btn btn-warning "> Create</button>
            </form>
        </div>

    }

</div>

@section Scripts {

    <script src="/js/detailsMealPlans.js"></script>
}