@model List<Fitnezz.Web.Web.ViewModels.ViewComponents.RandomClassViewModel>

<div class="row">
    @foreach (var classItem in Model)
    {
              
        <div  class="col-sm-6 col-md-4">
            <div style="height: 550px" class="thumbnail">
                        
                <img  style="width: 345px; height: 320px" src="@classItem.Image" alt="">
                        
                <div class="caption">
                    <h2 style="color: red;">@classItem.Name <span style="color: black; margin-left: 40px; font-size: 15px;">Participants: @classItem.UsersCount</span> </h2>

                    <div style="position: absolute; left: 60%">
                        <p>@classItem.DayOfWeek</p>
                        <p>@classItem.StartHour - @classItem.EndHour</p>
                    </div>

                    <div >
                        @foreach (var trainerName in @classItem.TrainersName)
                        {
                            <p>@trainerName</p>
                                    
                        }
                    </div>

                    @*<a asp-action="Join" asp-route-id="@classItem.Id" class="btn">Join</a>*@
                </div>
            </div>
        </div>
    }
           
</div>