@using Fitnezz.Web.Common
@model IEnumerable<Fitnezz.Web.Web.ViewModels.Classes.AllClassesViewModel>
    <div style="position: absolute; left: 40%">
        <h1 class="col-md-12">Our <span class="color">Classes</span></h1>
    </div>
<section style="margin-top: 100px;" id="mainservice" >
    <div class="container">
        <div class="row">
            @foreach (var classItem in Model)
            {
              
                <div  class="col-sm-6 col-md-4">
                    <div style="height: 550px" class="thumbnail">
                        
                        <img  style="width: 345px; height: 320px" src="@classItem.Image" alt="">
                        
                        <div class="caption">
                            <h2 style="color: red;">@classItem.Name <span style="color: black; margin-left: 40px; font-size: 15px;">Participants: @classItem.UsersCount</span> </h2>

                            <div style="position: absolute; left: 60%">
                                <p>@classItem.DayOfWeek</p>
                                <p>@classItem.StartHour - @classItem.EndHour</p>
                            </div>

                            <div >
                                @foreach (var trainerName in @classItem.TrainersName)
                                {
                                    <p>@trainerName</p>
                                    
                                }
                            </div>

                            <a asp-action="Join" asp-route-id="@classItem.Id" class="btn">Join</a>
                         
                        </div>
                    </div>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <form  method="post" asp-route-id ="@classItem.Id" asp-action="Delete">
                            <button style="margin-left: 120px" class="btn">Delete</button>
                        </form>
                    }
                </div>

            }
           
        </div>
        
        @if (TempData["sErrMsg"] != null)
        {
            Html.RenderPartial("_ErrorPopup", TempData["sErrMsg"]);
        }
        
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div style="margin-left: 45%;" >
                <a asp-action="Create" class="btn">Create</a>
            </div>
        }
    </div>
</section>